---
layout: none
title: "درباره ما | VpnHood!‎"
description: "VpnHood!‎ – یک وی‌پی‌ان رایگان، امن و متن‌باز با شبکه سرور جهانی که برای محافظت از حریم خصوصی آنلاین شما و تضمین دسترسی امن به وب طراحی شده است."
extra_css:
  - /assets/css/custom.css
nav_active: resources
permalink: /fa/about-us/
lang: fa
auto_translated: true
---
{% include header.html %}
{% assign vh_lang = page.lang | default: 'en' %}
{% assign t = site.data.i18n[vh_lang].about_us %}
<section id="sp-main-body" >

										<div class="container">
					<div class="container-inner">
						
	
<div class="row">
	
<div id="sp-component" class="col-lg-12 ">
	<div class="sp-column ">
		<div id="system-message-container" aria-live="polite"></div>


		
		<div class="com-content-article item-page">
    
    
        
        
    
    
        
                                    <div class="com-content-article__body">
        <div class="section-start-text pb-5 mb-5" data-aos="fade-up" data-aos-duration="1000">
    <h1 class="section-title vh-txt-grad-purple-400">{{ t.page_title }}</h1>
    <p class="section-desc">{{ t.page_desc }}</p>
</div>
<p>{{ t.intro }}</p>
<p class="h3 text-white mt-5">{{ t.traffic_title }}</p>
<p>{{ t.traffic_desc }}</p>
<p class="h3 text-white mt-5">{{ t.architecture_title }}</p>
<p>{{ t.architecture_desc }}</p>
<p class="mt-5">{{ t.saas_desc }}</p>     </div>

        
                                        </div>


			</div>
</div>
</div>
											</div>
				</div>
						
	</section>
{% include footer.html %}
