---
layout: none
i18n: reseller
extra_css:
  - /assets/css/custom.css
nav_active: reseller
permalink: /fr/reseller/
lang: fr
auto_translated: true
---
{% include header.html %}
{% assign vh_lang = page.lang | default: 'en' %}
{% assign t = site.data.i18n[vh_lang][page.i18n] %}
<section id="sp-main-body" >

										<div class="container">
					<div class="container-inner">
						
	
<div class="row">
	
<div id="sp-component" class="col-lg-12 ">
	<div class="sp-column ">
		<div id="system-message-container" aria-live="polite"></div>


		
		<div class="com-content-article item-page">
    
    
        
        
    
    
        
                                    <div class="com-content-article__body">
        <div class="text-center position-relative">
    <div class="star-effect w-50 h-100 mx-auto">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
    </div>
    <div class="section-start-text" data-aos="fade-up" data-aos-duration="1000">
        <h1 class="section-title vh-txt-grad-purple-400">{{ t.page_title }}</h1>
        <p class="section-desc mb-5">{{ t.page_desc }}</p>
    </div>
    <img src="/assets/images/general/half-globe-purple.svg" width="800" height="364" alt="{{ t.globe_alt }}" class="mx-auto" data-aos="fade-up" data-aos-duration="1000"></div>
<h2 class="mt-5 pt-5">{{ t.why_title }}</h2>
<ul>
    <li>{{ t.why_cross_platform }}</li>
    <li>{{ t.why_high_speed }}</li>
    <li>{{ t.why_global }}</li>
    <li>{{ t.why_security }}</li>
</ul>
<h3 class="mt-5">{{ t.benefits_title }}</h3>
<ul>
    <li>{{ t.benefit_margins }}</li>
    <li>{{ t.benefit_support }}</li>
    <li>{{ t.benefit_marketing }}</li>
    <li>{{ t.benefit_plans }}</li>
</ul>
<h3 class="mt-5">{{ t.start_title }}</h3>
<ul>
    <li>{{ t.start_contact }}</li>
    <li>{{ t.start_selling }}</li>
</ul>
<p class="vh-card-light rounded-4 p-3 text-center mt-5">{{ t.cta }}</p>     </div>

        
                                        </div>


			</div>
</div>
</div>
											</div>
				</div>
						
	</section>
{% include footer.html %}
