---
layout: none
title: "User Account Deletion Request"
description: "VpnHood! – A free, secure, and open-source VPN with a global server network designed to protect your online privacy and ensure secure access to the web."
extra_css:
  - /assets/css/custom.css
nav_active: resources
---
{% include header.html %}
{% raw %}
<section id="sp-main-body" >

										<div class="container">
					<div class="container-inner">
						
	
<div class="row">
	
<div id="sp-component" class="col-lg-12 ">
	<div class="sp-column ">
		<div id="system-message-container" aria-live="polite"></div>


		
		<div class="com-content-article item-page">
    <meta itemprop="inLanguage" content="en-US">
    
    
        
        
    
    
        
                                    <div class="com-content-article__body">
        <div class="container text-center"><iconify-icon icon="line-md:account-alert-loop" class="my-5 txt-blue-d-1" id="singleLargeIcon"></iconify-icon>
<h1>User Account Deletion Request</h1>
<p class="text-left mb-5">To delete your account completely, please send a request to <a href="mailto:support@vpnhood.com" class="text-decoration-underline">support@vpnhood.com</a> from the email address you used to register.</p>
</div>     </div>

        
                                        </div>


			</div>
</div>
</div>
											</div>
				</div>
						
	</section>
{% endraw %}
{% include footer.html %}
