---
layout: none
title: "VpnHood! Manager"
description: "VpnHood! – A free, secure, and open-source VPN with a global server network designed to protect your online privacy and ensure secure access to the web."
extra_css:
  - /assets/css/custom.css
nav_active: self-hosted
---
{% include header.html %}
{% raw %}
<section id="sp-main-body" >

										<div class="container">
					<div class="container-inner">
						
	
<div class="row">
	
<div id="sp-component" class="col-lg-12 ">
	<div class="sp-column ">
		<div id="system-message-container" aria-live="polite"></div>


		
		<div class="com-content-article item-page">
    <meta itemprop="inLanguage" content="en-US">
    
    
        
        
    
    
        
                                    <div class="com-content-article__body">
        <div class="text-center position-relative">
  <div class="section-start-text" data-aos="fade-up" data-aos-duration="1000">
    <img src="/assets/images/general/manager-logo.webp" alt="VpnHood! MANAGER logo" width="100" height="100" class="rounded-5 mx-auto mb-4">
    <h1 class="section-title vh-txt-grad-purple-400">VpnHood! MANAGER</h1>
    <p class="section-desc mb-5">VpnHood Access Manager is an enterprise and centralized cloud service designed to manage your VpnHood servers through a user-friendly interface and a RESTful API in one place.</p>
  </div>
</div>
<div class="text-center mt-5">
  <a class="vh-btn vh-btn-primary blue-bg" href="https://console.vpnhood.com/" target="_blank">
    Open VpnHood! Manager
    <span class="visually-hidden"> (opens in new tab)</span>
    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
      <g fill="none">
        <path fill="currentColor" d="M4 11.25a.75.75 0 0 0 0 1.5zm0 1.5h16v-1.5H4z" opacity="0.5"></path>
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m14 6l6 6l-6 6"></path>
      </g>
    </svg>
  </a>
</div>     </div>

        
                                        </div>


			</div>
</div>
</div>
											</div>
				</div>
						
	</section>
{% endraw %}
{% include footer.html %}
